.react-date-picker__inputGroup {
  display: none;
}
.react-date-picker__clear-button {
  display: none;
}
.react-date-picker__wrapper {
  display: unset;
  flex-grow: unset;
  flex-shrink: unset;
  border: none;
}
.react-date-picker__button {
  border: none;
  padding: 0;
}
.react-calendar {
  @apply p-4 transition-all;
}
.react-calendar__month-view__days__day--weekend {
  color: white;
}
